@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to right top, #030e4f, #220434, #23001f, #1a000f, #000000);
    color: #fff;
}   

h2{
    font-size: 5rem;
    font-weight: bold;
}
.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
}
.day,
.hour,
.minute,
.second{
    font-size: 3rem;

}


/* media query designs */
@media(max-width: 678px){
    h2{
        font-size: 2.5rem;
    }
    .day,
    .hour,
    .minute,
    .second{
        font-size: 1.5rem;
    }
}